APP_VERSION=aws-v1

SPRING_DATASOURCE_URL=jdbc:postgresql://RDS_ENDPOINT:5432/studystreak
SPRING_DATASOURCE_USERNAME=studystreak
SPRING_DATASOURCE_PASSWORD=CHANGE_ME

JWT_SECRET=CHANGE_ME
JWT_EXPIRATION=3600000

DB_DDL_AUTO=validate

MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=CHANGE_ME
MAIL_PASSWORD=CHANGE_ME

APP_DOMAIN=api.example.com