APP_VERSION=aws-v1

SPRING_DATASOURCE_URL=jdbc:postgresql://ENDPOINT_RDS:5432/studystreak
SPRING_DATASOURCE_USERNAME=studystreak
SPRING_DATASOURCE_PASSWORD=PASSWORD_RDS

JWT_SECRET=SECRET_BASE64
JWT_EXPIRATION=3600000

DB_DDL_AUTO=validate

MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=YOUR_MAIL_USERNAME
MAIL_PASSWORD=YOUR_MAIL_PASSWORD

APP_DOMAIN=api.example.com